body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0f0f0f;
    color: white;
    position: relative;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: grow 5s forwards;
    /* grow is the name of the animation to be defined later; forwards makes sure that final state remains as it is, w/o going back to the original state before being removed. */
    position: absolute; 
    /* w.r.t. to the relative body, so that we can move it to any coordinates */
}

@keyframes grow {
    0%{
        transform: scale(1);
        opacity: 1; 
        /* fully visible initially */
    }
    100%{
        transform: scale(3);
        opacity: 0;
        /* ultimately invisible */
    }
}