body{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
#time{
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff99;
    letter-spacing: 6px;
    text-shadow: 0 0 10px #00ff99;
}
#date{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: #00ff99;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #00ff99;
    margin-top: 10px;
    opacity: 0.6;
    text-align: center;
}