body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f0f0f;
    color: #ffffff;
}

.container{
    border: 1px solid #0773ff;
    width: 75%;
    text-align: center;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 20px;
}

#display{
    border-top: 0.7px solid rgb(248, 213, 16);
    padding: 10px;
    color: #00ff99;
    font-size: 1rem;
    border-bottom: 0.7px solid red;
    text-shadow: 0 0 2px;
    transition: color, text-shadow 0.3s;
}

#display:hover{
    color: #00ff55;
    text-shadow: 0 0 7px ;
}