body{
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    background-color: #cdf04e;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: #edfac0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.8);
}
h1{
    text-align: center;
    color: #333;
}
.question{
    margin-bottom: 20px;

    p{
        font-weight: bold;
    }

    input{
        margin-right: 10px;
    }
}
.submit-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background: #439cfc;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.result{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: green;
}